:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: "Noto Sans"; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fg-color: #fff;
  --fg-color-dim: #ccc;
  --bg-color: #000;
  --bg-color-hover: #444;
  --bg-color-lighter: #222;
  --color-active: #a5d0e6;
  --color-paused: #ffffa8;
  --color-error: #f08e97;
  --color-complete: #a7e1a4;
  --color-waiting: #fcb2f3;
  --color-removed: #7a7a7a;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: 0 auto;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.hide {
  display: none;
}

.success {
  background-color: #00ff0044;
  border: solid 1px green;
}

.failed {
  background-color: #ff000044;
  border: solid 1px red;
}

.warning {
  background-color: #ffff0044;
  border: solid 1px yellow;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

@media (prefers-color-scheme: dark) {
  .img-icon {
    filter: invert(100%);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000;
    background-color: #ffffff;
    --fg-color: #000;
    --fg-color: #555;
    --bg-color: #fff;
    --bg-color-hover: #ccc;
    --bg-color-lighter: #ddd;
    --color-active: #393fb1;
    --color-paused: #cccc00;
    --color-error: #d2403b;
    --color-complete: #4eb754;
    --color-waiting: #fcb2f3;
    --color-removed: #7a7a7a;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
